html, body {
	margin:0;
	padding:0;
	width:100%;
}
header {
	display:flex;
	margin:0;
	padding:0;
	border:0;
	height:60px;
	width:100%;
	background-color:rgb(70,70,70);
	text-align: center;
}
h1 {
	font-family:monospace;
	color:white;
	padding:0;
	margin:0 0 0 20px;
	display:flex;
	align-items:center;
}
hr {
	background-color:#7f7c7c;
	height:5px;
}
#contact {
	display:inline-left;
	margin-left:20px;
}
#tbl {
 margin: 20px 0px 20px 0px;
 align-content: center;

}
footer {
	margin:0;
}
#glob {
	height:1000px;
	width:100%;
}
h2 {
	margin:0;
	text-align: center;
	padding:50px;
}
#headercont {
	color: white;
   float: right;
   width:100%;
   margin-right: 10px;
}
#content {
	width:80%;
	height:716px;
	background-color: rgba(11, 11, 11, 0.5);
}
#content {
	margin:0px 0px 0px 130px;
	align-content: center;
	box-sizing: border-box;
	display: flex;
	border:5px solid #333333;
	border-radius: 50px;
	padding:20px;
	justify-content: space-around;
}
#leftside {
	width:400px;
	border-radius:50px;
	border-color:#333333;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}
#rightside {
	width:400px;
	height:650px;
	border-color:#333333;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: auto;
}
.leftside {
	border-radius: 50px;
	border:2px solid #333333;
	width:300px;
	height:300px;
	background-color:rgba(100, 100, 100, 0.5);
	text-align: center;
	font-size: 15px;
}
.leftside:hover {
	background-color:rgba(100, 100, 100, 1);
	border:2px solid #ffffff;
	color:black;
}
#rightside::-webkit-scrollbar{
    width:5px;
}
#rightside::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #777;
}
#rightside::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}


